<IfModule mod_rewrite.c>
RewriteEngine on

RewriteRule login$ admin/autentikasi/login.php [L]
#autentikasi
# tampilan
# dashbord
# anggota
# buku
# transaksi
# laporan
# pengaturan

# Custom error page for error 403, 404 and 500
# silahkan ganti urlnya jika pada path atau domian
ErrorDocument 404 http://localhost/perpustakaan/404.php
ErrorDocument 500 http://localhost/perpustakaan/404.php

Options All -Indexes
</IfModule>