<IfModule mod_rewrite.c>
RewriteEngine on

#autentikasi
# RewriteRule ^login$ login.php [L]

# tampilan

# anggota
RewriteRule ^anggota$ index.php?page=anggota [L]
RewriteRule ^add-anggota$ index.php?page=add-anggota [L]
RewriteRule ^edit-anggota/(.*)$ index.php?page=edit-anggota&id=$1 [L]
RewriteRule ^view-anggota/(.*) index.php?page=view-anggota&id=$1 [L]


# buku
RewriteRule ^buku$ index.php?page=buku [L]

# transaksi
RewriteRule ^transaksi index.php?page=transaksi [L]

# laporan
RewriteRule ^laporan index.php?page=laporan [L]

# pengaturan


Options All -Indexes
</IfModule>