<IfModule mod_rewrite.c>
RewriteEngine on

#autentikasi
# RewriteRule ^login$ login.php [L]

# tampilan

# anggota
RewriteRule ^anggota$ index.php?page=anggota [L]
RewriteRule ^add-anggota$ index.php?page=add-anggota [L]
RewriteRule ^edit-anggota/(.*)$ index.php?page=edit-anggota&id=$1 [L]
RewriteRule ^hapus-anggota/(.*)$ index.php?page=hapus-anggota&act=delete&id=$1 [L]
RewriteRule ^export-anggota$ pages/anggota/export.php [L]
# RewriteRule ^view-anggota/(.*) index.php?page=view-anggota&id=$1 [L]


# buku
RewriteRule ^buku$ index.php?page=buku [L]
RewriteRule ^add-buku$ index.php?page=add-buku [L]
RewriteRule ^edit-buku/(.*)$ index.php?page=edit-buku&id=$1 [L]
RewriteRule ^hapus-buku/(.*)$ index.php?page=hapus-buku&act=delete&id=$1 [L]
RewriteRule ^export-buku$ pages/buku/export.php [L]

# transaksi
RewriteRule ^transaksi index.php?page=transaksi [L]

# laporan
RewriteRule ^laporan index.php?page=laporan [L]

# pengaturan
# prodi
RewriteRule ^prodi$ index.php?page=prodi [L]
RewriteRule ^add-prodi$ index.php?page=add-prodi [L]
RewriteRule ^edit-prodi/(.*)$ index.php?page=edit-prodi&id=$1 [L]

# kategori
RewriteRule ^kategori$ index.php?page=kategori [L]
RewriteRule ^add-kategori$ index.php?page=add-kategori [L]
RewriteRule ^edit-kategori/(.*)$ index.php?page=edit-kategori&id=$1 [L]

# lokasi
RewriteRule ^lokasi$ index.php?page=lokasi [L]
RewriteRule ^add-lokasi$ index.php?page=add-lokasi [L]
RewriteRule ^edit-lokasi/(.*)$ index.php?page=edit-lokasi&id=$1 [L]

# pengguna
RewriteRule ^pengguna$ index.php?page=pengguna [L]
RewriteRule ^add-pengguna$ index.php?page=add-pengguna [L]
RewriteRule ^edit-pengguna/(.*)$ index.php?page=edit-pengguna&id=$1 [L]
RewriteRule ^hapus-pengguna/(.*)$ index.php?page=hapus-pengguna&act=delete&id=$1 [L]

Options All -Indexes
</IfModule>